## EDA Extensivo

In [2]:
import sys, os
sys.path.append(os.getcwd().replace('/notebooks',''))  # Replace with current directory name

In [3]:
from utils.data import Datasets
from utils.eda import column_explore

In [4]:
datasets = Datasets()
cash = datasets.create_cash_cohorts()
cash

,cash_request_id,amount,status,created_at,updated_at,user_id,moderated_at,deleted_account_id,reimbursement_date,cash_request_received_date,money_back_date,transfer_type,send_at,recovery_status,reco_creation,reco_last_update,id_usuario,cohorte,cohorte_lbl
0,5,100.0,rejected,2019-12-10 19:05:21.596873+00:00,2019-12-11 16:47:42.40783+00,804.0,2019-12-11 16:47:42.405646+00,NaN,2020-01-09 19:05:21.596363+00,NaN,NaN,regular,NaN,NaN,NaN,NaN,804,2019-12,COH-02.Dec
1,70,100.0,rejected,2019-12-10 19:50:12.347780+00:00,2019-12-11 14:24:22.900054+00,231.0,2019-12-11 14:24:22.897988+00,NaN,2020-01-09 19:50:12.34778+00,NaN,NaN,regular,NaN,NaN,NaN,NaN,231,2019-12,COH-02.Dec
2,7,100.0,rejected,2019-12-10 19:13:35.825460+00:00,2019-12-11 09:46:59.779773+00,191.0,2019-12-11 09:46:59.777728+00,NaN,2020-01-09 19:13:35.825041+00,NaN,NaN,regular,NaN,NaN,NaN,NaN,191,2019-12,COH-02.Dec
3,10,99.0,rejected,2019-12-10 19:16:10.880172+00:00,2019-12-18 14:26:18.136163+00,761.0,2019-12-18 14:26:18.128407+00,NaN,2020-01-09 19:16:10.879606+00,NaN,NaN,regular,NaN,NaN,NaN,NaN,761,2019-12,COH-02.Dec
4,1594,100.0,rejected,2020-05-06 09:59:38.877376+00:00,2020-05-07 09:21:55.34008+00,7686.0,2020-05-07 09:21:55.320193+00,NaN,2020-06-05 22:00:00+00,NaN,NaN,regular,NaN,NaN,NaN,NaN,7686,2020-05,COH-07.May
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23965,20616,100.0,money_back,2020-10-12 13:54:11.686225+00:00,2021-02-06 20:17:49.292493+00,13681.0,NaN,NaN,2021-02-06 11:00:00+00,2020-10-13,2021-02-06 20:17:49.257521+00,instant,2020-10-12 13:54:24.352856+00,NaN,NaN,NaN,13681,2020-06,COH-08.Jun
23966,25243,50.0,money_back,2020-10-27 14:41:25.734910+00:00,2020-12-18 13:15:40.843946+00,NaN,NaN,30367.0,2020-11-03 22:00:00+00,2020-10-28,2020-12-01 13:26:53.787672+00,instant,2020-10-27 14:41:57.901946+00,completed,2020-11-12 23:20:41.928788+00,2020-12-01 13:26:53.815504+00,30367,2020-10,COH-12.Oct
23967,22357,100.0,money_back,2020-10-20 07:58:04.006937+00:00,2021-02-05 12:19:30.656816+00,82122.0,NaN,NaN,2021-02-05 11:00:00+00,2020-10-21,2021-02-05 12:19:30.626289+00,instant,2020-10-20 07:58:14.171553+00,NaN,NaN,NaN,82122,2020-10,COH-12.Oct
23968,20256,100.0,money_back,2020-10-10 05:40:55.700422+00:00,2021-02-05 13:14:19.707627+00,64517.0,NaN,NaN,2021-02-05 11:00:00+00,2020-10-12,2021-02-05 13:14:19.689906+00,instant,2020-10-10 05:41:23.368363+00,NaN,NaN,NaN,64517,2020-10,COH-12.Oct
23969,19886,100.0,direct_debit_sent,2020-10-08 14:16:52.155661+00:00,2021-01-05 15:45:52.645536+00,44867.0,NaN,NaN,2021-02-05 11:00:00+00,2020-10-10,NaN,instant,2020-10-08 14:17:04.526139+00,NaN,NaN,NaN,44867,2020-09,COH-11.Sep

In [5]:
column_explore(cash['amount']) # CONCLUSIÓN: La mayoría de préstamos son de 100€, seguidos por los de 50€ y luego ya otros valores

- - - - - Begin EDA of feature 'amount' - - - - - - - - - - - - - - - - - -
TOTAL NUMBER OF ROWS:  23970
NUMBER OF UNIQUE VALUES: 41
NUMBER OF UNIQUE VALUES DIVIDED BY TOTAL VALUES: 0.17%
PERCENTAGE OF NAN VALUES IS: 0.0%
COLUMN DATA TYPE:  float64
COLUMN UNIQUE VALUES:
 [100.  99.  90.   1.  70.  25.  50.  20.  60.  80.  30.  10.  40. 150.
  98. 200.  85.  65.  95.  31.  75.  72.  22.  67.  94.  45.  55.  35.
  97.  28.  86.   8.  15.  39.   2.  11.  49.   5.  36.  54.  24.]
VARIABLE WEIGHT WITHIN THE TOTAL OF THE COLUMN:
 amount
100.0    67.14
50.0     22.13
25.0      5.32
80.0      1.11
60.0      0.79
70.0      0.63
20.0      0.55
30.0      0.48
40.0      0.42
90.0      0.38
10.0      0.24
200.0     0.10
95.0      0.09
1.0       0.08
75.0      0.08
45.0      0.06
55.0      0.06
65.0      0.05
99.0      0.05
15.0      0.04
85.0      0.04
35.0      0.04
5.0       0.03
2.0       0.01
98.0      0.01
28.0      0.01
22.0      0.01
11.0      0.01
49.0      0.00
36.0      0.00
54.0      0.00
39.0      0.00
97.0      0.00
8.0       0.00
86.0      0.00
94.0      0.00
67.0      0.00
72.0      0.00
31.0      0.00
150.0     0.00
24.0      0.00
Name: count, dtype: float64
- - - - - End - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

In [6]:
cash.status.value_counts()

status
money_back               16397
rejected                  6568
direct_debit_rejected      831
active                      59
transaction_declined        48
direct_debit_sent           34
canceled                    33
Name: count, dtype: int64

In [7]:
cash.transfer_type.value_counts()

transfer_type
instant    13882
regular    10088
Name: count, dtype: int64

In [8]:
cash.recovery_status.value_counts()

recovery_status
completed               2468
pending                  845
pending_direct_debit      16
cancelled                  1
Name: count, dtype: int64

In [9]:
column_explore(cash['money_back_date']) # CONCLUSIÓN:

- - - - - Begin EDA of feature 'money_back_date' - - - - - - - - - - - - - - - - - -
TOTAL NUMBER OF ROWS:  23970
NUMBER OF UNIQUE VALUES: 12221
NUMBER OF UNIQUE VALUES DIVIDED BY TOTAL VALUES: 50.98%
PERCENTAGE OF NAN VALUES IS: 30.98%
COLUMN DATA TYPE:  object
COLUMN UNIQUE VALUES:
 [nan '2020-07-06 03:36:03.023521+00' '2020-06-03 05:11:35.312616+00' ...
 '2020-12-01 13:26:53.787672+00' '2021-02-05 12:19:30.626289+00'
 '2021-02-05 13:14:19.689906+00']
VARIABLE WEIGHT WITHIN THE TOTAL OF THE COLUMN:
 money_back_date
2020-08-04 22:00:00+00           2.20
2020-08-05 22:00:00+00           1.78
2020-07-29 22:00:00+00           1.47
2020-07-07 22:00:00+00           1.09
2020-09-01 22:00:00+00           0.81
                                 ...
2020-09-26 19:41:04.707858+00    0.01
2020-09-03 18:59:16.868528+00    0.01
2020-09-04 19:34:13.744825+00    0.01
2020-06-30 08:44:45.520733+00    0.01
2021-02-05 13:14:19.689906+00    0.01
Name: count, Length: 12221, dtype: float64
- - - - - End - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

In [10]:
cash[(cash['money_back_date'].notnull()) & (cash['status']!='money_back')]

,cash_request_id,amount,status,created_at,updated_at,user_id,moderated_at,deleted_account_id,reimbursement_date,cash_request_received_date,money_back_date,transfer_type,send_at,recovery_status,reco_creation,reco_last_update,id_usuario,cohorte,cohorte_lbl
286,3898,100.0,direct_debit_rejected,2020-06-18 10:43:16.007268+00:00,2020-08-11 22:28:00.013578+00,16861.0,2020-06-18 14:30:54.217567+00,NaN,2020-06-30 22:00:00+00,2020-06-20,2020-07-02 18:47:17.295625+00,regular,NaN,pending,2020-07-05 22:35:44.297588+00,2020-08-11 22:28:00.026799+00,16861,2020-06,COH-08.Jun
753,1915,100.0,direct_debit_rejected,2020-05-16 09:49:58.810507+00:00,2020-07-18 22:19:51.634664+00,8561.0,2020-05-16 15:37:42.56213+00,NaN,2020-06-10 09:50:22.961+00,2020-05-19,2020-06-15 21:48:36.150666+00,regular,NaN,pending,2020-06-15 22:25:03.813494+00,2020-07-18 22:19:51.665905+00,8561,2020-05,COH-07.May
935,1803,100.0,direct_debit_rejected,2020-05-15 06:48:01.817593+00:00,2020-08-11 22:28:14.554184+00,1779.0,2020-05-15 09:05:47.803811+00,NaN,2020-06-06 22:00:00+00,2020-05-18,2020-06-11 22:37:50.972072+00,regular,NaN,pending,2020-06-12 22:21:56.904689+00,2020-08-11 22:28:14.570177+00,1779,2019-12,COH-02.Dec
1005,1456,100.0,direct_debit_rejected,2020-04-29 19:16:43.071488+00:00,2020-06-09 08:00:08.124504+00,8379.0,2020-04-30 12:52:10.200946+00,NaN,2020-06-07 22:00:00+00,2020-05-05,2020-06-04 09:49:52.217008+00,regular,NaN,pending,2020-06-08 16:45:42.176409+00,2020-06-09 08:00:08.130507+00,8379,2020-04,COH-06.Apr
1070,1669,100.0,direct_debit_rejected,2020-05-10 17:47:41.564674+00:00,2020-07-31 22:41:40.394009+00,7518.0,2020-05-11 11:47:29.764575+00,NaN,2020-06-05 22:00:00+00,2020-05-12,2020-06-04 11:16:55.805646+00,regular,NaN,pending,2020-06-08 19:08:43.221573+00,2020-07-31 22:41:40.407093+00,7518,2020-04,COH-06.Apr
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23916,23831,50.0,direct_debit_rejected,2020-10-23 22:53:48.039431+00:00,2021-01-27 22:24:52.391844+00,84689.0,NaN,NaN,2020-11-18 23:51:00+00,2020-10-27,2020-12-09 23:00:00+00,instant,2020-10-23 22:54:01.914978+00,pending,2020-12-02 22:20:15.710192+00,2021-01-27 22:24:52.410811+00,84689,2020-10,COH-12.Oct
23931,18790,100.0,active,2020-10-01 20:36:23.471527+00:00,2021-02-08 11:22:05.314804+00,58938.0,NaN,NaN,2020-11-18 22:00:00+00,2020-10-02,2020-11-23 23:00:00+00,instant,2020-10-08 20:36:23+00,pending,2020-12-02 22:38:30.959713+00,2021-02-05 16:44:50.382318+00,58938,2020-10,COH-12.Oct
23932,19788,100.0,direct_debit_rejected,2020-10-08 07:45:55.757564+00:00,2021-02-07 22:53:51.423536+00,10113.0,2020-10-08 08:19:52.745582+00,NaN,2021-01-28 23:00:00+00,NaN,2021-02-02 23:00:00+00,instant,2020-10-08 07:46:13.904767+00,pending,2021-02-07 22:53:51.44556+00,2021-02-07 22:53:51.445569+00,10113,2020-06,COH-08.Jun
23934,4920,100.0,active,2020-06-24 07:45:33.214855+00:00,2021-02-08 11:38:26.064013+00,18816.0,2020-06-24 11:15:32+00,NaN,2020-07-05 22:00:00+00,2020-06-30,2020-07-07 15:51:37+00,regular,NaN,pending,2020-07-15 23:41:31.23327+00,2021-02-05 12:16:37.953471+00,18816,2020-06,COH-08.Jun
23935,8665,50.0,active,2020-07-17 13:07:28.650302+00:00,2021-02-08 11:38:46.491891+00,27063.0,2020-07-17 13:33:24+00,NaN,2020-07-28 22:00:00+00,2020-07-21,2020-07-29 22:00:00+00,regular,NaN,pending,2020-08-02 22:40:00.98071+00,2021-02-05 16:29:11.89401+00,27063,2020-07,COH-09.Jul