## EDA Extensivo

In [2]:
import sys, os
sys.path.append(os.getcwd().replace('/notebooks',''))  # Replace with current directory name

In [3]:
from utils.data import Datasets
from utils.eda import column_explore

In [ ]:
datasets = Datasets()
cash = datasets.create_cash_cohorts()
cash

,cash_request_id,amount,status,created_at,updated_at,user_id,moderated_at,deleted_account_id,reimbursement_date,cash_request_received_date,money_back_date,transfer_type,send_at,recovery_status,reco_creation,reco_last_update,id_usuario,cohorte,cohorte_lbl
0,5,100.0,rejected,2019-12-10 19:05:21.596873+00:00,2019-12-11 16:47:42.40783+00,804.0,2019-12-11 16:47:42.405646+00,NaN,2020-01-09 19:05:21.596363+00,NaN,NaN,regular,NaN,NaN,NaN,NaN,804,2019-12,COH-02.Dec
1,70,100.0,rejected,2019-12-10 19:50:12.347780+00:00,2019-12-11 14:24:22.900054+00,231.0,2019-12-11 14:24:22.897988+00,NaN,2020-01-09 19:50:12.34778+00,NaN,NaN,regular,NaN,NaN,NaN,NaN,231,2019-12,COH-02.Dec
2,7,100.0,rejected,2019-12-10 19:13:35.825460+00:00,2019-12-11 09:46:59.779773+00,191.0,2019-12-11 09:46:59.777728+00,NaN,2020-01-09 19:13:35.825041+00,NaN,NaN,regular,NaN,NaN,NaN,NaN,191,2019-12,COH-02.Dec
3,10,99.0,rejected,2019-12-10 19:16:10.880172+00:00,2019-12-18 14:26:18.136163+00,761.0,2019-12-18 14:26:18.128407+00,NaN,2020-01-09 19:16:10.879606+00,NaN,NaN,regular,NaN,NaN,NaN,NaN,761,2019-12,COH-02.Dec
4,1594,100.0,rejected,2020-05-06 09:59:38.877376+00:00,2020-05-07 09:21:55.34008+00,7686.0,2020-05-07 09:21:55.320193+00,NaN,2020-06-05 22:00:00+00,NaN,NaN,regular,NaN,NaN,NaN,NaN,7686,2020-05,COH-07.May
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23965,20616,100.0,money_back,2020-10-12 13:54:11.686225+00:00,2021-02-06 20:17:49.292493+00,13681.0,NaN,NaN,2021-02-06 11:00:00+00,2020-10-13,2021-02-06 20:17:49.257521+00,instant,2020-10-12 13:54:24.352856+00,NaN,NaN,NaN,13681,2020-06,COH-08.Jun
23966,25243,50.0,money_back,2020-10-27 14:41:25.734910+00:00,2020-12-18 13:15:40.843946+00,NaN,NaN,30367.0,2020-11-03 22:00:00+00,2020-10-28,2020-12-01 13:26:53.787672+00,instant,2020-10-27 14:41:57.901946+00,completed,2020-11-12 23:20:41.928788+00,2020-12-01 13:26:53.815504+00,30367,2020-10,COH-12.Oct
23967,22357,100.0,money_back,2020-10-20 07:58:04.006937+00:00,2021-02-05 12:19:30.656816+00,82122.0,NaN,NaN,2021-02-05 11:00:00+00,2020-10-21,2021-02-05 12:19:30.626289+00,instant,2020-10-20 07:58:14.171553+00,NaN,NaN,NaN,82122,2020-10,COH-12.Oct
23968,20256,100.0,money_back,2020-10-10 05:40:55.700422+00:00,2021-02-05 13:14:19.707627+00,64517.0,NaN,NaN,2021-02-05 11:00:00+00,2020-10-12,2021-02-05 13:14:19.689906+00,instant,2020-10-10 05:41:23.368363+00,NaN,NaN,NaN,64517,2020-10,COH-12.Oct
23969,19886,100.0,direct_debit_sent,2020-10-08 14:16:52.155661+00:00,2021-01-05 15:45:52.645536+00,44867.0,NaN,NaN,2021-02-05 11:00:00+00,2020-10-10,NaN,instant,2020-10-08 14:17:04.526139+00,NaN,NaN,NaN,44867,2020-09,COH-11.Sep

In [16]:
cash[cash['cash_request_id']==2122]

,cash_request_id,amount,status,created_at,updated_at,user_id,moderated_at,deleted_account_id,reimbursement_date,cash_request_received_date,money_back_date,transfer_type,send_at,recovery_status,reco_creation,reco_last_update,id_usuario,cohorte,cohorte_lbl
13,2122,100.0,money_back,2020-05-22 12:47:42.741369+00:00,2020-06-13 06:36:34.188372+00,8218.0,2020-05-23 14:29:15.376466+00,NaN,2020-06-15 22:00:00+00,2020-05-27,2020-06-13 06:36:34.188042+00,regular,NaN,NaN,NaN,NaN,8218,2020-04,COH-06.Apr

In [ ]:
cash[cash['cash_request_id']==23004]

,cash_request_id,amount,status,created_at,updated_at,user_id,moderated_at,deleted_account_id,reimbursement_date,cash_request_received_date,money_back_date,transfer_type,send_at,recovery_status,reco_creation,reco_last_update,id_usuario,cohorte,cohorte_lbl
8815,23004,100.0,transaction_declined,2020-10-22 09:49:41.938320+00:00,2020-10-22 09:54:57.157714+00,83479.0,NaN,NaN,2020-11-01 23:51:00+00,NaN,NaN,instant,2020-10-22 09:54:21.304205+00,NaN,NaN,NaN,83479,2020-10,COH-12.Oct

In [22]:
cash[cash['cash_request_id']==21897]
feesorig = datasets.dataset_fees_original_df
feesorig[feesorig['cash_request_id']==21897].sort_values(by='created_at')

,id,cash_request_id,type,status,category,total_amount,reason,created_at,updated_at,paid_at,from_date,to_date,charge_moment
1615,14481,21897.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 21897,2020-10-18 08:22:10.90009+00,2020-10-18 08:22:10.900113+00,2020-11-30 19:49:32.588919+00,NaN,NaN,after
11,15434,21897.0,postpone,accepted,NaN,5.0,Postpone Cash Request 21897,2020-10-21 09:00:21.619473+00,2020-10-21 09:00:21.619504+00,2020-10-21 09:00:25.398771+00,2020-10-26 22:00:00+00,2020-10-30 23:00:00+00,before
8008,19693,21897.0,postpone,accepted,NaN,5.0,Postpone Cash Request 21897,2020-10-29 11:38:58.852097+00,2020-10-29 11:38:58.852166+00,2020-10-29 11:39:02.482594+00,2020-10-30 23:00:00+00,2020-11-29 23:00:00+00,before

In [5]:
column_explore(cash['amount']) # CONCLUSIÓN: La mayoría de préstamos son de 100€, seguidos por los de 50€ y luego ya otros valores

- - - - - Begin EDA of feature 'amount' - - - - - - - - - - - - - - - - - -
TOTAL NUMBER OF ROWS:  23970
NUMBER OF UNIQUE VALUES: 41
NUMBER OF UNIQUE VALUES DIVIDED BY TOTAL VALUES: 0.17%
PERCENTAGE OF NAN VALUES IS: 0.0%
COLUMN DATA TYPE:  float64
COLUMN UNIQUE VALUES:
 [100.  99.  90.   1.  70.  25.  50.  20.  60.  80.  30.  10.  40. 150.
  98. 200.  85.  65.  95.  31.  75.  72.  22.  67.  94.  45.  55.  35.
  97.  28.  86.   8.  15.  39.   2.  11.  49.   5.  36.  54.  24.]
VARIABLE WEIGHT WITHIN THE TOTAL OF THE COLUMN:
 amount
100.0    67.14
50.0     22.13
25.0      5.32
80.0      1.11
60.0      0.79
70.0      0.63
20.0      0.55
30.0      0.48
40.0      0.42
90.0      0.38
10.0      0.24
200.0     0.10
95.0      0.09
1.0       0.08
75.0      0.08
45.0      0.06
55.0      0.06
65.0      0.05
99.0      0.05
15.0      0.04
85.0      0.04
35.0      0.04
5.0       0.03
2.0       0.01
98.0      0.01
28.0      0.01
22.0      0.01
11.0      0.01
49.0      0.00
36.0      0.00
54.0      0.00
39.0      0.00
97.0      0.00
8.0       0.00
86.0      0.00
94.0      0.00
67.0      0.00
72.0      0.00
31.0      0.00
150.0     0.00
24.0      0.00
Name: count, dtype: float64
- - - - - End - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

In [6]:
cash.status.value_counts()

status
money_back               16397
rejected                  6568
direct_debit_rejected      831
active                      59
transaction_declined        48
direct_debit_sent           34
canceled                    33
Name: count, dtype: int64

In [7]:
cash.transfer_type.value_counts()

transfer_type
instant    13882
regular    10088
Name: count, dtype: int64

In [8]:
cash.recovery_status.value_counts()

recovery_status
completed               2468
pending                  845
pending_direct_debit      16
cancelled                  1
Name: count, dtype: int64

In [9]:
column_explore(cash['money_back_date']) # CONCLUSIÓN:

- - - - - Begin EDA of feature 'money_back_date' - - - - - - - - - - - - - - - - - -
TOTAL NUMBER OF ROWS:  23970
NUMBER OF UNIQUE VALUES: 12221
NUMBER OF UNIQUE VALUES DIVIDED BY TOTAL VALUES: 50.98%
PERCENTAGE OF NAN VALUES IS: 30.98%
COLUMN DATA TYPE:  object
COLUMN UNIQUE VALUES:
 [nan '2020-07-06 03:36:03.023521+00' '2020-06-03 05:11:35.312616+00' ...
 '2020-12-01 13:26:53.787672+00' '2021-02-05 12:19:30.626289+00'
 '2021-02-05 13:14:19.689906+00']
VARIABLE WEIGHT WITHIN THE TOTAL OF THE COLUMN:
 money_back_date
2020-08-04 22:00:00+00           2.20
2020-08-05 22:00:00+00           1.78
2020-07-29 22:00:00+00           1.47
2020-07-07 22:00:00+00           1.09
2020-09-01 22:00:00+00           0.81
                                 ...
2020-09-26 19:41:04.707858+00    0.01
2020-09-03 18:59:16.868528+00    0.01
2020-09-04 19:34:13.744825+00    0.01
2020-06-30 08:44:45.520733+00    0.01
2021-02-05 13:14:19.689906+00    0.01
Name: count, Length: 12221, dtype: float64
- - - - - End - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

In [15]:
cash[(cash['money_back_date'].notnull()) & (cash['status']!='money_back')].loc[:, ['amount','status','money_back_date']]

       amount                 status                money_back_date
286     100.0  direct_debit_rejected  2020-07-02 18:47:17.295625+00
753     100.0  direct_debit_rejected  2020-06-15 21:48:36.150666+00
935     100.0  direct_debit_rejected  2020-06-11 22:37:50.972072+00
1005    100.0  direct_debit_rejected  2020-06-04 09:49:52.217008+00
1070    100.0  direct_debit_rejected  2020-06-04 11:16:55.805646+00
...       ...                    ...                            ...
23916    50.0  direct_debit_rejected         2020-12-09 23:00:00+00
23931   100.0                 active         2020-11-23 23:00:00+00
23932   100.0  direct_debit_rejected         2021-02-02 23:00:00+00
23934   100.0                 active         2020-07-07 15:51:37+00
23935    50.0                 active         2020-07-29 22:00:00+00

[336 rows x 3 columns]