## EDA Extensivo

In [1]:
%matplotlib inline

import numpy as np
import pandas as pd

In [2]:
import sys, os
sys.path.append(os.getcwd().replace('/notebooks',''))  # Replace with current directory name

In [3]:
from utils.data import Datasets
from utils.eda import column_explore

In [4]:
ds = Datasets()

## EDA de DataFrame cash_request

In [5]:
ds.dataset_cash_original_df.info()
# 23.970 filas
# Columnas de fechas:
    # created_at
    # updated_at
    # moderated_at
    # reimbursement_date
    # cash_request_received_date
    # money_back_date
    # send_at
    # reco_creation
    # reco_last_update
# Columnas categóricas:
    # status
    # transfer_type
    # recovery_status

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23970 entries, 0 to 23969
Data columns (total 16 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          23970 non-null  int64
 1   amount                      23970 non-null  float64
 2   status                      23970 non-null  object
 3   created_at                  23970 non-null  object
 4   updated_at                  23970 non-null  object
 5   user_id                     21867 non-null  float64
 6   moderated_at                16035 non-null  object
 7   deleted_account_id          2104 non-null   float64
 8   reimbursement_date          23970 non-null  object
 9   cash_request_received_date  16289 non-null  object
 10  money_back_date             16543 non-null  object
 11  transfer_type               23970 non-null  object
 12  send_at                     16641 non-null  object
 13  recovery_status             3330 non-null   object
 14  reco_creation               3330 non-null   object
 15  reco_last_update            3330 non-null   object
dtypes: float64(3), int64(1), object(12)
memory usage: 2.9+ MB

In [6]:
ds.cash.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23970 entries, 0 to 23969
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   cash_request_id             23970 non-null  int64
 1   amount                      23970 non-null  float64
 2   status                      23970 non-null  object
 3   created_at                  23970 non-null  datetime64[ns, UTC]
 4   updated_at                  23970 non-null  datetime64[ns, UTC]
 5   user_id                     21867 non-null  float64
 6   moderated_at                16035 non-null  datetime64[ns, UTC]
 7   deleted_account_id          2104 non-null   float64
 8   reimbursement_date          23970 non-null  datetime64[ns, UTC]
 9   cash_request_received_date  16289 non-null  datetime64[ns]
 10  money_back_date             16543 non-null  datetime64[ns, UTC]
 11  transfer_type               23970 non-null  object
 12  send_at                     16641 non-null  datetime64[ns, UTC]
 13  recovery_status             3330 non-null   object
 14  reco_creation               3330 non-null   datetime64[ns, UTC]
 15  reco_last_update            3330 non-null   datetime64[ns, UTC]
 16  id_usuario                  23970 non-null  int64
dtypes: datetime64[ns, UTC](8), datetime64[ns](1), float64(3), int64(2), object(3)
memory usage: 3.1+ MB

In [ ]:
# OBSERVACIÓN: 'created_at' está en formato UTC pero 'cash_request_received_date' no, porque esa columna no tenía información horaria sino sólo la fecha.

In [ ]:
ds.dataset_cash_original_df['created_at'].sample(5)

10726    2020-06-01 21:47:02.875037+00
1092     2020-07-01 07:47:14.340825+00
986      2020-05-26 07:39:53.798808+00
23277    2020-10-09 09:03:30.721655+00
15217    2020-08-22 18:24:54.108263+00
Name: created_at, dtype: object

In [ ]:
ds.dataset_cash_original_df['cash_request_received_date'].sample(5)

2907            NaN
19748    2020-10-27
2206            NaN
18230    2020-10-27
19805    2020-10-23
Name: cash_request_received_date, dtype: object

In [ ]:
# La conversión de las siguiente columnas dio errores. Inspeccionaremos las columnas para per cómo subsanarlos.

# 'moderated_at'
# ValueError: time data "2019-12-20 17:29:18+00" doesn't match format "%Y-%m-%d %H:%M:%S.%f%z", at position 157. You might want to try:
#     - passing `format` if your strings have a consistent format;
#     - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
#     - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

# 'reimbursement_date'
# time data "2020-06-05 22:00:00+00" doesn't match format "%Y-%m-%d %H:%M:%S.%f%z", at position 4. You might want to try:

# 'money_back_date'
# ValueError: time data "2020-07-15 22:00:00+00" doesn't match format "%Y-%m-%d %H:%M:%S.%f%z", at position 12. You might want to try:

# 'send_at'
# ValueError: time data "2020-08-12 09:34:16+00" doesn't match format "%Y-%m-%d %H:%M:%S.%f%z", at position 29. You might want to try:

In [ ]:
print(ds.dataset_cash_original_df.loc[157,'moderated_at'])
print()
print(ds.dataset_cash_original_df['moderated_at'].sample(5))

2019-12-20 17:29:18+00

15552    2020-08-10 14:31:33.875437+00
11453    2020-07-28 14:45:21.527749+00
2645     2020-07-28 11:22:39.162115+00
9945      2020-06-10 13:24:50.03457+00
23877                              NaN
Name: moderated_at, dtype: object

In [ ]:
# Prueba de conversión a fecha para una de las columnas conflictivas
ds.cash['moderated_at'] = pd.to_datetime(ds.cash['moderated_at'], format='mixed')

In [ ]:
# CONCLUSIÓN: Podemos usar el parámetro format='mixed' para las fechas problemáticas.

In [ ]:
print(ds.cash.loc[157,'moderated_at'])
print(ds.cash['moderated_at'].dtype)

2019-12-20 17:29:18+00:00
datetime64[ns, UTC]

## EDA de DataFrame fees

In [ ]:
ds.dataset_fees_original_df.info()
# 21.061 filas
# Columnas de fechas:
    # created_at
    # updated_at
    # paid_at
    # from_date
    # to_date    
# Columnas categóricas:
    # type
    # status
    # category    
    # reason ¿?
    # charge_moment

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21061 entries, 0 to 21060
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               21061 non-null  int64
 1   cash_request_id  21057 non-null  float64
 2   type             21061 non-null  object
 3   status           21061 non-null  object
 4   category         2196 non-null   object
 5   total_amount     21061 non-null  float64
 6   reason           21061 non-null  object
 7   created_at       21061 non-null  object
 8   updated_at       21061 non-null  object
 9   paid_at          15531 non-null  object
 10  from_date        7766 non-null   object
 11  to_date          7766 non-null   object
 12  charge_moment    21061 non-null  object
dtypes: float64(2), int64(1), object(10)
memory usage: 2.1+ MB

In [8]:
ds.fees.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21061 entries, 0 to 21060
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               21061 non-null  int64
 1   cash_request_id  21057 non-null  float64
 2   type             21061 non-null  object
 3   status           21061 non-null  object
 4   category         2196 non-null   object
 5   total_amount     21061 non-null  float64
 6   reason           21061 non-null  object
 7   created_at       21061 non-null  datetime64[ns, UTC]
 8   updated_at       21061 non-null  datetime64[ns, UTC]
 9   paid_at          15531 non-null  datetime64[ns, UTC]
 10  from_date        7766 non-null   datetime64[ns, UTC]
 11  to_date          7766 non-null   datetime64[ns, UTC]
 12  charge_moment    21061 non-null  object
dtypes: datetime64[ns, UTC](5), float64(2), int64(1), object(5)
memory usage: 2.1+ MB